<div class="container">
    <h2>Random Maker</h2>

    <!-- Items input -->
    <form name="myForm" role="form" ng-submit="addItem()">
        <div class="row">
            <p class="input-group">
                <input type="text" class="form-control" name="item" required ng-model="item" placeholder="Enter this field what you want to sort">
                <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Add" ng-disabled="myForm.$invalid"></span>
            </p>
            <p ng-messages="myForm.item.$error">{{myForm.item.$error}}</p>

            <!-- Item list -->
            <div ui-sortable ng-model="results">
            <p class="input-group" ng-repeat="result in results" style="padding:5px 10px; cursor: move;">
                <input type="text" ng-model="result" class="form-control">
                <span class="input-group-btn"><button class="btn btn-danger" ng-click="removeItem($index)" aria-label="Remove">X</button></span>
            </p>
            </div>
        </div>
    </form>
</div>
