<div class="container">
    <h2>Random Maker</h2>

    <!-- Items input -->
    <form name="myForm" role="form" ng-submit="addItem()">
        <div class="row">
            <p class="input-group">
                <input type="text" class="form-control" name="item" required ng-model="item" ui-validate="{dublicate : 'notDublicate($value)' }" placeholder="Enter this field what you want to sort">
                <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Add" ng-disabled="myForm.$invalid"></span>
            </p>
            <span class="help-inline text-danger" ng-messages="myForm.item.$error" ng-if="myForm.item.$dirty || myForm.dublicate">
                <p ng-message="required">必須項目です。</p>
                <p ng-message="dublicate">既に登録されています。</p>
            </span>
            <p class="input-group">
                <input type="number" class="form-control" ng-model="number" placeholder="Enter a number of teams">
                <span class="input-group-btn"><button type="button" class="btn btn-primary" ng-click="shuffleResults()" aria-label="shuffle">shuffle!!</button></span>
            </p>
            <!-- Item list -->
            <p><label>Total:</label>{{results.length}}</p>
            <div ui-sortable ng-model="results">
                <div ng-repeat="result in results">
                    <label ng-show="$index == 0">TEAM A</label>
                    <label ng-show="$index == devideTeam()">TEAM B</label>
                    <p class="input-group" style="padding:5px 10px; cursor: move;">
                        <input type="text" class="form-control" ng-model="result.name">
                        <span class="input-group-btn"><button type="button" class="btn btn-primary" ng-click="changeStatus(result)" aria-label="Change">固定</button></span>
                        <span class="input-group-btn"><button type="button" class="btn btn-danger" ng-click="removeItem($index)" aria-label="Remove">X</button></span>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
